<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Baked With Love</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="images/e.png">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Boxicons -->
    
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->
    
    
    <link rel="stylesheet" href="css/stylescart.css">
</head>
<body>

    <!--Start Header-->
  <header>
    <img src="/images/cartbg.png" alt="cart-bg">
    <nav>
        <div class="logo">
            <a href="index.html">Baked With Love</a>
        </div>
        <div class="toggle">
            <span class="first"></span>
            <span class="middle"></span>
            <span class="last"></span>
        </div>
        <div class="navigation-bar">
            <ul>
                <li><a th:href="@{/}">Home<span class="underline"></span></a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login<span class="underline"></span></a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout<span class="underline"></span></a></li>
                <li class="active"><a th:href="@{/cart}">Cart<span class="underline"></span></a></li>
                <li><a href="#">Features<span class="underline"></span></a></li>
                <li><a th:href="@{/shop}">Shop<span class="underline"></span></a></li>
                <li><a href="#">Contact<span class="underline"></span></a></li>
            </ul>
        </div>
    </nav>
   </header>
<!--End Header-->

<!-- Start Product -->
<section class="product" id="product" >
    <div class="container" th:each="item, iStat : ${cart}">
    <div class="card_box">
        <img th:src="@{${'/productImages/' + item.imageName}}" alt="sample">
        <span></span>
    </div>
    <div>
        <h5 th:text="${item.name}"></h5>
        <p><span th:text="${item.weight}"></span> grams</p>
        <p>&#8377;<span th:text="${item.price}"></span></p>
    </div>
    <div>
        <a href="#!" th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"  type="button" class="card-link-secondary small text-uppercase mr-3"><i
            class="fas fa-trash-alt mr-1"></i> Remove item </a>
    </div>
</div>
</section>

<!-- End Product -->



<!-- <main id="product"> -->
    <!-- <div class="container"> -->

        <!--Section: Block Content-->
        <!-- <section class="mt-5 mb-4"> -->

            <!--Grid row-->
            <!-- <div class="row"> -->

                <!--Grid column-->
                <!-- <div class="col-lg-8"> -->

                    <!-- Card -->
                    <!-- <div class="card wish-list mb-4">
                        <div class="card-body">

                            <h5 class="mb-4">Cart (<span th:text="${cartCount}">2</span> items)</h5>

                            <div class="row mb-4" th:each="item, iStat : ${cart}">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             th:src="@{${'/productImages/' + item.imageName}}"
                                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">

                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 th:text="${item.name}">Blue denim shirt</h5>
                                                <p class="mb-3 text-uppercase small">Weight: <span th:text="${item.weight}"></span> grams</p>
<!--                                                <p class="mb-2 text-uppercase small">Category: <span th:text="${item.category.name}"></span></p>-->

                                            <!-- </div>

                                        </div>
                                        <div class="mt-5 d-flex justify-content-between align-items-center">
                                            <div>
                                                <a href="#!" th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"  type="button" class="card-link-secondary small text-uppercase mr-3"><i
                                                        class="fas fa-trash-alt mr-1"></i> Remove item </a>

                                            </div>
                                            <p class="mb-0"><span><strong>₹<span th:text="${item.price}"></span></strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">

                            <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
                                items to your cart does not mean booking them.</p>

                        </div>
                    </div>
                </div>  -->
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">

                            <h5 class="mb-3">The total amount </h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Amount Payable
                                    <span>₹<span th:text="${total}"></span></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Gratis</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>The total amount of</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>₹<span th:text="${total}"></span></strong></span>
                                </li>
                            </ul>

                            <a th:href="@{/checkout}" h class="btn btn-primary btn-block waves-effect waves-light">go to
                                checkout</a>

                        </div>
                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">

                            <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                               aria-expanded="false" aria-controls="collapseExample">
                                Add a discount code (optional)
                                <span><i class="fas fa-chevron-down pt-1"></i></span>
                            </a>

                            <div class="collapse" id="collapseExample">
                                <div class="mt-3">
                                    <div class="md-form md-outline mb-0">
                                        <input type="text" id="discount-code" class="form-control font-weight-light"
                                               placeholder="Enter discount code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Block Content-->

    </div>
</main>
<!--Main layout-->

<!--Start Footer-->
<footer>
    <div class="text">
        <h2>ABOUT BAKED WITH LOVE</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Baked With Love is a SpringBoot powered website
          which provides you with multiple functionalities.
          Making sure all the features of an e-commerce web application, 
          this online bakery web application (Baked with Love) acts as a 
          central database containing various bakery products. 
        </p>
    </div>
    <div class="contact-container">
      <div class="social-media">
          <h3>Follow Along</h3>
          <div class="links">
              <a href="#"><i class='bx bxl-github'></i></a>
              <a href="#"><i class='bx bxl-linkedin'></i></a>
              <a href="#"><i class='bx bxl-instagram' ></i></a>
              <a href="#"><i class='bx bx-link-external' ></i></a>
          </div>
      </div>
         <!-- <div class="newsletter">
          <h3>NewsLetter</h3>
            <form method="post">
                <input type="email" name="email" placeholder="Type Your Email">
                <i class="fas fa-envelope"></i>
            </form>
        </div> -->
    </div> 
</footer>
<!--End Footer-->

<!--Start Copy-Right-->
<div class="copyright">
    <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <a href="#product"><i class='bx bx-chevrons-up arrow-up bx-lg' ></i></a>
    <ul class="info">
        <li>&copy; Baked With Love 2022</li>
        <li>UPES</li>
        <li>Tel: 123</li>
        <li>Handcrafted with love by <a href="https://github.com/Akansh-Verma/BakedWithLove">BakedWithLove</a> Team</li>
    </ul>
    <!-- <ul class="CTA">
        <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
        <li><a href="#">CONTACT THE TEAM</a></li>
    </ul> -->
</div>
<!--End Copy-Right-->

<!-- Add your site or application content here -->
<script src="/js/main.js"></script>
<script src="/js/main.min.js"></script>


</body>
</html>