<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Baked With Love</title>
        <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
      
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="images/e.png">
      
        <!-- Boxicons -->
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
        <!-- Boxicons -->
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
        <!--Fonts-->
      
        <!--FontAwesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!--FontAwesome-->
      
        <link rel="stylesheet" href="/css/admin.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
      <style>
        header nav .logo a {
            color: black;
        }
        header .navigation-bar a{
            color: black;
        }
      </style>
    </head>
  
<body>
<!--Start Header-->
<header style="background: none; height: 100px;"> 
    <nav>
        <div class="logo">
            <a th:href="@{/}">Baked With Love</a>
        </div>
        <div class="toggle">
            <span class="first"></span>
            <span class="middle"></span>
            <span class="last"></span>
        </div>
        <div class="navigation-bar">
            <ul>
                <li class="active"><a th:href="@{/admin}">Admin<span class="underline"></span></a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login<span class="underline"></span></a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout<span class="underline"></span></a></li>
                <li><a th:href="@{/cart}">Cart<span class="underline"></span></a></li>
                <li><a th:text="${cartCount}">0<span class="underline"></span></a></li>
                <li><a th:href="@{/shop}">Shop<span class="underline"></span></a></li>
            </ul>
        </div>
    </nav>    
</header>
<!--End Header-->
<!-- <form th:action="@{/}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form> -->
<div class="add-prod">
    <a th:href="@{/admin/products/add}">
        <button class="cssbuttons-io-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
            <span>Add</span>
          </button> 
    </a>
</div>
<div class="table-flex">

    <div class="tabel-thead">
      <div class="td-img"> Image </div>
      <div class="td"> Product Name </div>
      <div class="td-flex">Category</div>
      <div class="td-last justify-content-center">Actions</div>
    </div>
  
    <!-- ------- Here goes the loop -----  -->
    <div class="table-tbody mt-2" th:each="product, iStat : ${products}">
      <div class="td-img">
        <img th:src="@{${'/productImages/' + product.imageName}}">
      </div>
      <div class="td" th:text="${product.name}"></div>
      <div class="td-flex" th:text="${product.category.name}"></div>
      <div class="td-last justify-content-end">
        <a th:href="@{/admin/product/delete/{id}(id=${product.id})}"><button type="button" class="btn btn-primary">Delete</button></a>
        <a th:href="@{/admin/product/update/{id}(id=${product.id})}"><button type="button" class="btn btn-success">Update</button></a>
      </div>
    </div>
  
  </div>
<!-- <div class="container-fluid">

    <a th:href="@{/admin/products/add}" style="margin: 20px 0" class="btn btn-primary">Add Product</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Preview</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product, iStat : ${products}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${product.name}">Larry</td>
            <td th:text="${product.category.name}">Larry</td>
            <td><img src="" height="100px" width="100px"  th:src="@{${'/productImages/' + product.imageName}}"></td>

            <td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning">Update</a></td>

        </tr>
        </tbody>
    </table>
</div> -->




<!--Start Footer-->
<footer>
    <div class="text">
        <h2>ABOUT BAKED WITH LOVE</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Baked With Love is a SpringBoot powered website
          which provides you with multiple functionalities.
          Making sure all the features of an e-commerce web application, 
          this online bakery web application (Baked with Love) acts as a 
          central database containing various bakery products. 
        </p>
    </div>
    <div class="contact-container">
      <div class="social-media">
          <h3>Follow Along</h3>
          <div class="links">
            <a href="#"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
            <a href="#"><i class='bx bx-link-external' ></i></a>
        </div>
      </div>
         <!-- <div class="newsletter">
          <h3>NewsLetter</h3>
            <form method="post">
                <input type="email" name="email" placeholder="Type Your Email">
                <i class="fas fa-envelope"></i>
            </form>
        </div> -->
    </div> 
</footer>
<!--End Footer-->

<!--Start Copy-Right-->
<div class="copyright">
    <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <i class='bx bx-chevrons-up arrow-up bx-lg' ></i>
    <ul class="info">
        <li>&copy; Baked With Love 2022</li>
        <li>UPES</li>
        <li>Tel: 123</li>
        <li>Handcrafted with love by <a href="https://github.com/Akansh-Verma/BakedWithLove">BakedWithLove</a> Team</li>
    </ul>
    <!-- <ul class="CTA">
        <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
        <li><a href="#">CONTACT THE TEAM</a></li>
    </ul> -->
</div>
<!--End Copy-Right-->


<script src="js/main.js" thh></script>
<script src="js/main.min.js"></script>

</body>
</html>