<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Baked With Love</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
  
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="images/e.png">
  
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Boxicons -->
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->
  
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->
  
    <link rel="stylesheet" href="css/register.css">
</head>

<body class="stop-scroll">
    <header>
        <nav>
            <div class="logo">
                <a href="index.html">Baked With Love</a>
            </div>
            <div class="toggle">
                <span class="first"></span>
                <span class="middle"></span>
                <span class="last"></span>
            </div>
            <div class="navigation-bar">
                <ul>
                    <li><a th:href="@{/}">Home<span class="underline"></span></a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login<span class="underline"></span></a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout<span class="underline"></span></a></li>
                    <li><a th:href="@{/cart}">Cart<span class="underline"></span></a></li>
                    <li class="active"><a th:href="@{/register}">Register<span class="underline"></span></a></li>
                    <li><a th:href="@{/shop}">Shop<span class="underline"></span></a></li>
                    <li><a href="#">Contact<span class="underline"></span></a></li>
                </ul>
            </div>
        </nav> 
        <div class="container">
            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="card">
                <a class="singup">Sign Up</a>
                <div class="inputBox1">
                    <input  type="text" name="firstName" id="firstName" required>
                    <span class="user">First Name</span>
                </div>
    
                <div class="inputBox">
                    <input type="text" name="lastName" id="lastName" required>
                    <span>Last Name</span>
                </div>
    
                <div class="inputBox">
                    <input type="email" required minlength="6" name="email" id="email">
                    <span>Email Address</span>
                </div>
    
                <div class="inputBox">
                    <input type="password" required name="password" id="password">
                    <span>Password</span>
                </div>

                <button class="enter" type="submit" value="Register">Register</button>
                <span class="account">Already have an account <a th:href="@{/login}">Login here</a></span>
            </div>
            </form>
            
        </div>     
    </header>

<!-- <div class="container">
    <div class="col-sm-6">
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" required placeholder="Your Firstname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" required placeholder="Your Lastname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control form-control-lg" required minlength="6" placeholder="Email" name="email" id="email"
                       aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                    anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" required placeholder="Password" name="password"
                       id="password">
            </div>

            <input type="submit" value="Register" class="btn btn-primary btn-block">
            <span style="margin-top: 10px">Already have an account <a class="linkControl" href="./login.html"
                                                                      th:href="@{/login}">Login here</a></span>
        </form>
    </div>
</div> -->

<!--Start Footer-->
<footer>
    <div class="text">
        <h2>ABOUT BAKED WITH LOVE</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Baked With Love is a SpringBoot powered website
          which provides you with multiple functionalities.
          Making sure all the features of an e-commerce web application, 
          this online bakery web application (Baked with Love) acts as a 
          central database containing various bakery products. 
        </p>
    </div>
    <div class="contact-container">
      <div class="social-media">
          <h3>Follow Along</h3>
          <div class="links">
              <a href="#"><i class='bx bxl-github'></i></a>
              <a href="#"><i class='bx bxl-linkedin'></i></a>
              <a href="#"><i class='bx bxl-instagram' ></i></a>
              <a href="#"><i class='bx bx-link-external' ></i></a>
          </div>
      </div>
         <!-- <div class="newsletter">
          <h3>NewsLetter</h3>
            <form method="post">
                <input type="email" name="email" placeholder="Type Your Email">
                <i class="fas fa-envelope"></i>
            </form>
        </div> -->
    </div> 
  </footer>
  <!--End Footer-->
  
  <!--Start Copy-Right-->
  <div class="copyright">
    <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <i class='bx bx-chevrons-up arrow-up bx-lg' ></i>
    <ul class="info">
        <li>&copy; Baked With Love 2022</li>
        <li>UPES</li>
        <li>Tel: 123</li>
        <li>Handcrafted with love by <a href="https://github.com/Akansh-Verma/BakedWithLove">BakedWithLove</a> Team</li>
    </ul>
    <!-- <ul class="CTA">
        <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
        <li><a href="#">CONTACT THE TEAM</a></li>
    </ul> -->
  </div>
  <!--End Copy-Right-->
  
    <script src="js/main.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>