<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Baked With Love</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="images/e.png">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Boxicons -->

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->

    <link rel="stylesheet" href="css/shopstyles.css">
    </head>
    <body>
        <!--Start loader-->
        <div class="loader-wrap">
            <div class="loader">
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            </div>
        </div>
        <!--End loader-->

        <!--Start Dots-->
        <!-- <div class="dots">
            <div class="active one" data-x="header"></div>
            <div class="two" data-x=".recipes"></div>
            <div class="three" data-x=".fixed-image"></div>
        </div> -->
        <!--End Dots-->

        <!--Start Header-->
        <header>
            <nav>
                <div class="logo">
                    <a href="index.html">Baked With Love</a>
                </div>
                <div class="toggle">
                    <span class="first"></span>
                    <span class="middle"></span>
                    <span class="last"></span>
                </div>
                <div class="navigation-bar">
                    <ul>
                        <li><a th:href="@{/}">Home<span class="underline"></span></a></li>
                        <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login<span class="underline"></span></a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout<span class="underline"></span></a></li>
                        <li><a th:href="@{/cart}">Cart<span class="underline"></span></a></li>
                        <li><a th:text="${cartCount}">0<span class="underline"></span></a></li>
                        <li class="active"><a th:href="@{/shop}">Shop<span class="underline"></span></a></li>
                        <li><a href="#">Contact<span class="underline"></span></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--End Header-->

        <!-- Start cards -->
        <div class="items grid">
            <div class="card" th:each="product,itS : ${products}" th:if="${itS.index}<5">
                <div class="card-img">
                    <img class="" th:src="@{${'/productImages/' + product.imageName}}" th:alt="${product.name}">
                </div>
                <div class="card-info">
                  <p class="text-title" th:text="${product.name}"></p>
                  <p class="text-body" th:text="${product.description}"></p>
                </div>
                <div class="card-footer">
                <span class="text-title" th:text="${product.price}"></span>
                <div class="card-button">
                  
                <a href="" th:href="@{/addToCart/{id}(id = ${product.id})}">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                    <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                    <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                </svg>    
                </a>
                    
                </div>
              </div>
            </div>
        </div>
        <!-- End cards -->
        
        <!-- Start Menu -->
        <div class="menu">
            <div class="text">
                <h2>Discover</h2>
                <h3>Menu</h3>
                <p>
                    Our bakery offers a wide variety of freshly baked goods, 
                    including breads, pastries, cakes, and cookies. Our breads 
                    are made from scratch using the finest ingredients, and include 
                    options such as sourdough, whole wheat, and rye. Our pastry selection 
                    includes classics like croissants and Danish, as well as seasonal 
                    specialties. We also offer a variety of cakes for special occasions, 
                    including birthdays, weddings, and graduations. Our cookie selection 
                    features both traditional favorites and unique flavors. 
                    All of our products are made with the highest quality ingredients, 
                    and are sure to please any palate. Stop by our bakery to see our daily 
                    offerings and special treats.
                </p>
            </div>
            <div class="menu-image">
                <img src="/images/shopmenu.png" alt="shopmenu">
            </div>
        </div>
        <!-- End Menu -->
               
        <!-- Start Cards2 -->
        <div class="grid cards2">
            <div class="cards-text">
                <h2>Specialities</h2>
                <p>
                    Whether you're in the mood for something 
                    sweet to start your day, a midday pick-me-up,
                     or an after-dinner treat, our bakery has something 
                     for everyone. Come and visit us today to sample some 
                     of our delectable specialties and discover your new 
                     favorite pastry!
                </p>
            </div>
            <div class="card2" th:each="product,itS : ${products}" th:if="${product.category.id} == 98">
                <div class="align" >
                    <span class="red"></span>
                    <span class="yellow"></span>
                    <span class="green"></span>
                </div>
                <img th:src="@{${'/productImages/' + product.imageName}}" th:alt="${product.name}">
                <h1 th:text="${product.name}"></h1>
                <p th:text="${product.description}"></p>
            </div>
            
        </div>
        
        <div class="all-products">
           <a th:href="@{/filter}">
            <button class="all-prod">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                 View All Products
              </button>
           </a> 
        </div>
        <!-- End Cards2 -->

        <!-- <div class="container" style="margin-top: 30px">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Categories</h4>
                    <ul class="list-group">
                    <a th:href="@{/shop}"><li class="list-group-item">All Products</li></a>
                    <a href="" th:each="category, iStat : ${categories}"
                     th:href="@{/shop/category/{id}(id=${category.id})}"><li
                               class="list-group-item" th:text="${category.name}"></li></a>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="card" style="margin-top: 20px" th:each="product : ${products}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px" th:src="@{${'/productImages/' + product.imageName}}" th:alt="${product.name}">
                            </div>
                    <div class="col-sm-7 d-flex justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <h4>₹ <span th:text="${product.price}"></span></h4>
                            <p th:text="${product.description}" >Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                            <a href="#" th:href="@{/shop/viewproduct/{id}(id=${product.id})}" class="btn btn-primary">View Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        
        <!--Start Footer-->
        <footer>
            <div class="text">
                <h2>ABOUT BAKED WITH LOVE</h2>
                <div><i class="fas fa-asterisk"></i></div>
                <p>
                  Baked With Love is a SpringBoot powered website
                  which provides you with multiple functionalities.
                  Making sure all the features of an e-commerce web application, 
                  this online bakery web application (Baked with Love) acts as a 
                  central database containing various bakery products. 
                </p>
            </div>
            <div class="contact-container">
              <div class="social-media">
                  <h3>Follow Along</h3>
                  <div class="links">
                    <a href="#"><i class='bx bxl-github'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
              </div>
                 <!-- <div class="newsletter">
                  <h3>NewsLetter</h3>
                    <form method="post">
                        <input type="email" name="email" placeholder="Type Your Email">
                        <i class="fas fa-envelope"></i>
                    </form>
                </div> -->
            </div> 
        </footer>
        <!--End Footer-->

        <!--Start Copy-Right-->
        <div class="copyright">
            <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
            <i class='bx bx-chevrons-up arrow-up bx-lg' ></i>
            <ul class="info">
                <li>&copy; Baked With Love 2022</li>
                <li>UPES</li>
                <li>Tel: 123</li>
                <li>Handcrafted with love by <a href="https://github.com/Akansh-Verma/BakedWithLove">BakedWithLove</a> Team</li>
            </ul>
            <!-- <ul class="CTA">
                <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
                <li><a href="#">CONTACT THE TEAM</a></li>
            </ul> -->
        </div>
        <!--End Copy-Right-->


  <script src="js/main.js" thh></script>
  <script src="js/main.min.js"></script>
</body>
</html>