* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  body.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img {
    max-width: 100%;
  }
  h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    font-weight: normal;
    margin: 0 0 -55px;
  }
  h1, h3 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 9.4px;
    margin: 0 0 15px;
  }
  p {
    color: #515151;
    line-height: 27px;
  }
  .a-CTA {
    border-bottom: 2px solid #a96700;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
  }
  /*End Global*/
  
  /*Start Mutual*/
  p, .a-CTA, input, header .navigation-bar a, .copyright li, .contact .form form label, .contact .form form button {
    font-family: Cabin, sans-serif;
  }
  .fa-asterisk, .a-CTA, h2, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
    color: #d5cbba;
  }
  header nav .navigation-bar .underline, header .text .button button:hover, .contact .form form button:hover, .contact .text i:hover {
    background-color: #a96700;
  }
  header .navigation-bar ul li, header .text, .about-us .text, .reservation .text, .menu .box-model, .menu .text, .fixed-image .text, footer, .copyright, .contact .text i {
    text-align: center;
  }
  header nav, header .navigation-bar ul, .about-us, .reservation, .about-us .image-container, .reservation .image-container, .menu, .menu .menu-image-container, footer .contact-container, .copyright ul, .contact {
    display: flex;
  }
  header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .menu .box-model .close, footer .social-media .links a, .copyright .CTA li a {
    transition: .3s;
  }
  header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .recipes, .menu .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
    position: relative;
  }
  header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .recipes .text, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .box-image-container .box-image, .copyright .svg-up {
    position: absolute;
  }
  .recipes .text, .fixed-image .text, .menu .box-image-container, .menu .box-image-container .box-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .menu .box-model, .menu .box-image-container, .menu .box-image-container .box-image {
    width: 100%;
  }
  button, .dots > div, header nav .toggle, header .arrow-down, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .menu-image-container .image img, footer .newsletter i, .copyright .arrow-up {
    cursor: pointer;
  }
  .dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
    background-color: #fff;
  }
  h1, h3, header .navigation-bar a, header .text span, .menu .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
    color: #fff;
  }
  header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .menu .box-model, .copyright .arrow-up {
    left: 0;
  }
  header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
    display: inline-block;
  }
  /*End Mutual*/

  /*Start Header*/
header {
    height: 100px;
  }
  header nav {
    position: fixed;
    top: 0;
    padding: 36px 36px 20px;
    z-index: 20;
  }
  header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 21;
  }
  header nav .toggle:focus {
    outline: none;
  }
  header nav.active .toggle span {
    background-color: #000;
  }
  header nav .toggle.active {
    left: 32%;
  }
  header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
  }
  header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
  }
  header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
  }
  header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
  }
  header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
  }
  header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;
  }
  header .navigation-bar.show {
    width: 40%;
  }
  header .navigation-bar.show a {
    color: #ccc !important;
  }
  header .navigation-bar.show a:hover {
    color: #fff !important;
  }
  header .navigation-bar ul li {
    flex: 1;
    padding: 0 10px;
  }
  header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
  }
  header nav.active .navigation-bar a {
    color: #000;
  }
  header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
  }

  header nav.active .logo a {
    color:#000
  }

/*End Header*/

/* Start product */
.product {
    margin: 15px;
    height: 300px;
    margin-left: 50px;
}
   
   .container {
    --background: linear-gradient(to left, #880505 0%, #f36b11 100%);
    width: 190px;
    height: 254px;
    padding: 4px;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    align-items: center;
    background: var(--background);
    position: relative;
  }
  
  .container .box {
    position: relative;
    width: 190px;
    height: 244px;
    /* background: #1b1b1b; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .container .box .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .container .box .content .icon {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 0 4px #e6e6e6,
      0 0 0 6px rgb(212, 10, 10);
    box-shadow: 0 0 0 4px #e6e6e6,
      0 0 0 6px rgb(212, 10, 10);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.5em;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .container .box::before {
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid rgb(99, 89, 247);
    z-index: -1;
    border-bottom: 4px solid rgb(65, 44, 250);
    z-index: -1;
    z-index: -1;
    -webkit-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    transform: skewY(15deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .container .box:hover::before {
    -webkit-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
    inset: -10px 40px;
  }
  
  .container .box::after {
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid #880505;
    z-index: -1;
    border-right: 4px solid #aa551d;
    z-index: -1;
    -webkit-transform: skew(15deg);
    -ms-transform: skew(15deg);
    transform: skew(15deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .container .box:hover::after {
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    inset: 40px -10px;
  }
  
  .container .box .content {
    border-radius: 50%;
  }
  
  .product .text {
    position: relative;
    padding: 10px;
    bottom: 275px;
    left: 357px;
    width: 600px;
  }

  .product .text p {
    line-height: 1.8;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
  }

  .product .text h3 {
    position: relative;
    color: #000;
    font-weight: normal;
    font-size: 20px;
    bottom: 28px;
  }
   
  .product .text h3 span {
    font-weight: bold;
  }

  .product .text h5 {
    position: relative;
    color: #000;
    font-weight: normal;
    font-size: 15px;
    bottom: 28px;
  }

  .product .text h5 span {
    font-weight: bold;
  }

  .product .text .desc {
    position: relative;
    font-size: 20px;
    bottom: 45px;
  }

  button {
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    bottom: 69px;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #a96700;
    z-index: -1;
    transition: all 0.5s;
   }
   
   button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: rgb(255, 255, 255);
   }
   
   button:active:before {
    background: #b9b9b9;
   }
/* End product */

/*Start Footer*/
footer {
    background-color: #121212;
    padding: 60px 20px;
  }
  footer .text {
    max-width: 500px;
    margin: auto;
  }
  footer .text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    letter-spacing: 1.9px;
    margin-bottom: 25px;
  }
  footer .text .fa-asterisk {
    font-size: 12px;
  }
  footer .text p {
    line-height: 27px;
  }
  footer .contact-container {
    padding: 40px 0;
    max-width: 800px;
    margin: auto;
  }
  footer .contact-container > div {
    flex: 1;
  }
  footer .contact-container h3 {
    font-size: 19px;
    letter-spacing: 1.9px;
  }
  footer .contact-container .social-media .links a {
    margin: 0 10px;
    font-size: 25px;
  }
  footer .newsletter input {
    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: none;
    margin-left: -15px;
  }
  footer .newsletter i {
    margin-left: -40px;
    vertical-align: middle;
    font-size: 21px;
  }
  .copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
    height: 84px;
  }
  .copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
  }
  .copyright .arrow-up {
    width: 47px;
    height: 30px;
    top: -79px;
    color: #fff;
    line-height: 1.9
  }
  .copyright ul {
    position: relative;
    justify-content: center;
    top: -54px;
  }
  .copyright li {
    color: #919191;
    font-size: 14px;
  }
  .copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
  }
  .copyright .CTA {
    margin-top: 25px;
  }
  .copyright .CTA li a {
    color: #919191;
  }
  
  /*End Footer*/
  
  /*End Home Page*/
  
  /*Start Contact Page*/
  .contact-header {
    background-image: url("https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988526/contact-food.jpg");
    height: 40vh;
  }
  .contact {
    padding: 78px 40px;
  }
  .contact > div {
    flex: 50%;
  }
  .contact .text p {
    margin-bottom: 30px;
  }
  .contact .text i {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    line-height: 48px;
    font-size: 24px;
  }
  .contact .text h2 {
    font-family: source_sans_problack, sans-serif;
    font-size: 24px;
    color: #262626;
    letter-spacing: 2.4px;
    margin-bottom: 20px;
  }
  .contact .form {
    margin-left: 48px;
  }
  .contact .form form label {
    margin-bottom: 5px;
    color: #515151;
  }
  .contact .form form input, .contact .form form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 2px solid #D8D8D8;
    outline: none;
  }
  .contact .form form input:focus, .contact .form form textarea:focus {
    border-color: #a96700;
    box-shadow: 0 1px 1px #737373;
  }
  .contact .form form textarea {
    height: 212px;
    resize: none;
  }
  .contact .form form button {
    background-color: #262526;
    padding: 12px 30px;
    font-size: 12px;
  }
  /*End Contact Page*/
  
  /*Start Home Page Responsive*/
  @media screen and (min-width: 1201px) {
    
    header nav .logo {
      position: relative;
      transition: .45s ease;
      font-family: Cabin, sans-serif;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 9.4px;
      margin: 0 0 15px;
      color: #000000;
      text-decoration: none;
      margin-left: 0;
      display: flex;
    }
    header nav .logo a {
      color: rgb(0, 0, 0);
    }
    header nav .logo a:active{
      color: rgb(0, 0, 0);
    }
    header nav .logo a:hover {
      color: #d5cbba;
    }
    header nav .navigation-bar {
     padding-left: 10rem;
     padding-right: 0;
    }
    header .navigation-bar a {
        color: #000;
    }
     
    footer {
        height: 400px;
    }
  }
  
  @media (max-width: 1200px) {
    *{
      padding: 0;
      margin: 0;
    }
    .menu, .about-us, .reservation {
        padding: 60px 40px;
    }
    .about-us .text, .reservation .text {
        padding: 0 32px 0 0;
    }
    .about-us .image-container, .reservation .image-container {
        align-items: center;
    }
    .menu .text {
        padding: 0 0 0 32px;
    }
    header nav .logo {
      position: relative;
      transition: .45s ease;
      font-family: Cabin, sans-serif;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 9.4px;
      margin: 0 0 15px;
      color: #FFFAFA;
      text-decoration: none;
      margin-left: 0;
      display: flex;
    }
    header nav .logo a:visited {
      color: white;
    }
    header nav .logo a:hover {
      color: #d5cbba;
    }
    header nav .navigation-bar {
     padding-left: 10rem;
     padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    body {
        padding: 0;
    }
    .dots {
        display: none;
    }
  header nav .logo {
      position: relative;
      transition: .45s ease;
      font-family: Cabin, sans-serif;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 9.4px;
      margin: 0 0 15px;
      color: #FFFAFA;
      text-decoration: none;
      margin-left: 0;
      display: flex;
    }
    header nav .logo a:visited {
      color: white;
    }
    header nav .logo a:hover {
      color: #d5cbba;
    }
    header nav .navigation-bar {
     padding-left: 10rem;
     padding-right: 0;
    }
    .about-us {
        display: block;
        padding-top: 50px;
    }
    .about-us .text , .reservation .text {
        padding: 0 0 40px;
    }
    .about-us .image-container .image1, .reservation .image-container .image1 {
        margin-left: 0;
    }
    .menu {
        display: block;
        padding: 60px 20px 60px 40px;
    }
    .menu .text {
        padding: 20px 20px 0 0;
    }
    .reservation {
        display: block;
        padding: 30px 20px 60px;
    }
    .contact {
        display: block;
        padding: 78px 20px;
    }
    .contact .form {
        margin-left: 0;
        margin-top: 40px;
    }
  }
  
  @media (max-width: 768px) {
    header nav {
        display: block;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        padding:0;
    }
    header nav .logo {
      display: none;
    }
    header nav .toggle {
        display: block;
    }
    header .navigation-bar {
        position: fixed;
        top: 0;
        left: -230px;
        height: 100%;
        background-color: #262526;
        overflow: hidden;
        z-index: 20;      
    }
    header .navigation-bar ul {
        display: block;
        padding-top: 40px;
    }
    header .navigation-bar ul li {
        text-align: left;
        padding: 14px 0;
    }
    footer .contact-container {
        display: block;
    }
    footer .social-media {
        margin-bottom: 40px;
    }
    .copyright ul {
        display: block;
        margin-top: -20px;
    }
    .copyright li {
        margin-bottom: 5px;
    }
    .copyright li:not(:last-of-type):after {
        content: '';
    }
  
  }
  
  @media (max-width: 576px) {
    h3, h1 {
        font-size: 40px;
    }
    h2 {
        font-size:90px
    }
    header {
        padding: 0;
    }
    header nav .logo {
        padding-left: 0;
    }
    header nav .toggle.active {
        left: 36%;
    }
    header .navigation-bar.show {
        padding: 20px;
        width: 48%;
    }
    .about-us, .reservation {
        padding: 60px 20px;
    }
    .menu {
        padding: 60px 0 60px 20px;
    }
  }
  /*End Home Page Responsive*/